.logo-log-in {
  display: grid;
  justify-content: right;
}

.site-name {
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  color: #BD4805;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid;
}

.non-recipe-card-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;

 }
}

/* .soup-nazi-img {
  width: 640px;
}

.soup-img {
  width: 450px;
} */
