.site-name {
  display: grid;
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid;
}

.non-recipe-card-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 50px;
}

.soup-nazi-img {
  width: 700px;
}

.soup-img {
  height: 380px;
}
